<ion-header>
  <ion-toolbar>

    <ion-title>
      Booking
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="../assets/images/50973646_2437715169805842_6914900464706256896_o.png" alt="" />
      <div class="a" ></div>
      <ion-card-header>
        <ion-row>
          <ion-col size="10" size-sm >
        <ion-card-title>WiNji Cafe & Restaurant</ion-card-title>  
           </ion-col>

          </ion-row>

        <ion-card-subtitle>City square Alexandria, Egypt</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
</ion-card-content>
    </ion-card>
    
    <ion-label style="color: #707070;padding-left: 20px;">
        How many people ?
        <br /><br />
      </ion-label>
    <ion-item-divider>
        <div class="btn item-text-wrap">
            <ion-row >
              <ion-col size="2">
             <ion-icon  name="remove-circle" (click)="decrement()"  style="color:#393378; zoom:2.0;"></ion-icon>
           </ion-col>
           <ion-col >
             <div class="input" type="text">{{currentNumber}}</div>
           </ion-col>
             <ion-col size="2">
               <ion-icon  name="add-circle" (click)="increment()" style="color:#D44258; zoom:2.0;padding-right: 20px;"></ion-icon>
             </ion-col>
             </ion-row>
               </div>
    </ion-item-divider>
    <br /><br />
    <ion-label style="color: #707070;padding-left: 20px;">
        What time you come ?
        <br /><br />
         </ion-label>
    <ion-item-divider>
        <div class="btn">
            <ion-datetime class="time" displayFormat="HH:mm" value="12:00" ></ion-datetime>
          </div>
    </ion-item-divider>
    <br /><br />
    <ion-label style="color: #707070;padding-left: 20px;">
      Pick day
        <br /><br />
        </ion-label>
    <ion-item-divider>
        <div class="btn">
                <ion-datetime class="time" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
              </div>
    </ion-item-divider>
</ion-content>
