<ion-header>
  <ion-toolbar>

    <ion-title>Dessert</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-slides  [options]="sliderConfig">

        <ion-slide style="background-color: white;" *ngFor="let cat of items" class="category-block">
       
          <ion-row no-padding >
            <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" [routerLink]="cat.category=='main-dishes' ? ['/tabs/main-dishes']:['/tabs/dessert']" align-self-center>
              {{ cat.category }}
            </ion-col>
          </ion-row>
       
        </ion-slide>
      </ion-slides> -->

  <div *ngFor="let cat of items">
    <div *ngIf="cat.category=='dessert'">
      <div *ngFor="let product of cat.products">
        <div *ngIf="cat.expanded">

          <ion-card>
            <img src="{{ product.src }}">
            <ion-card-header>
              <ion-card-title style="color:black;">{{product.title}}</ion-card-title>
              <ion-card-subtitle style="color:#D44258;font-size: 20px;text-align: end">
                {{product.price | currency:'USD':'symbol'}}</ion-card-subtitle>

            </ion-card-header>
            <ion-card-content>
              <ion-button shape="round" (click)="addToCart(product)">Add to Cart</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>